.version.about_us /* version checker */
{
	color: #0000ED;
	background-color: #BC1F2A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 999.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -210px;
	padding-top: 140px;
}

#u3256-3
{
	z-index: 56;
	min-height: 140px;
	top: 0px;
}

#u3256-3-bw
{
	z-index: 56;
}

#u786
{
	z-index: 59;
	width: 130px;
	top: 20px;
	left: 50%;
	margin-left: -442px;
}

#menuu3257
{
	z-index: 61;
	width: 652px;
	top: 69px;
	left: 50%;
	margin-left: -270px;
}

#u3258
{
	width: 87px;
	min-height: 41px;
	margin-right: -10000px;
}

#u3261
{
	width: 87px;
	padding-bottom: 24px;
}

#u3261:hover
{
	margin: 0px;
}

#u3264-4
{
	width: 39px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 24px;
}

#u3261:hover #u3264-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3314
{
	width: 122px;
	min-height: 41px;
	margin-right: -10000px;
	left: 89px;
}

#u3338
{
	width: 122px;
	padding-bottom: 24px;
}

#u3261.MuseMenuActive,#u3338:hover
{
	margin: 0px;
}

#u3341-4
{
	width: 61px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 23px;
}

#u3261.MuseMenuActive #u3264-4,#u3338:hover #u3341-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3339
{
	z-index: 74;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 84px;
}

#u3338:hover #u3339
{
	margin: 0px -10000px 0px 0px;
}

#u3315
{
	width: 205px;
	top: 41px;
}

#u3316,#u3324
{
	width: 205px;
}

#u3325
{
	width: 205px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u3338.MuseMenuActive #u3339,#u3325.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u3328-4
{
	width: 159px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 21px;
}

#u3338.MuseMenuActive #u3341-4,#u3325:hover #u3328-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3325:active #u3328-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3272
{
	width: 192px;
	min-height: 41px;
	margin-right: -10000px;
	left: 213px;
}

#u3273
{
	width: 192px;
	padding-bottom: 24px;
}

#u3338.MuseMenuActive,#u3273:hover
{
	margin: 0px;
}

#u3275-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 23px;
}

#u3325.MuseMenuActive #u3328-4,#u3273:hover #u3275-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9049
{
	width: 125px;
	min-height: 41px;
	margin-right: -10000px;
	left: 407px;
}

#u9050
{
	width: 125px;
	padding-bottom: 24px;
}

#u3273.MuseMenuActive,#u9050:hover
{
	margin: 0px;
}

#u9053-4
{
	width: 78px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 23px;
}

#u3273.MuseMenuActive #u3275-4,#u9050:hover #u9053-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3265
{
	width: 118px;
	min-height: 41px;
	margin-right: -10000px;
	left: 534px;
}

#u3268
{
	width: 118px;
	padding-bottom: 24px;
}

#u9050.MuseMenuActive,#u3268:hover
{
	margin: 0px;
}

#u3268.MuseMenuActive
{
	margin: 0px;
}

#u3271-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 23px;
}

#u9050.MuseMenuActive #u9053-4,#u3268:hover #u3271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3268.MuseMenuActive #u3271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3458
{
	z-index: 101;
	width: 130px;
	top: 140px;
	left: 50%;
	margin-left: -445px;
}

#slideshowu8804
{
	z-index: 20;
	width: 0.01px;
	height: 375px;
	margin-left: 20px;
	position: relative;
}

#u8814
{
	position: absolute;
	width: 130px;
	background-color: transparent;
	padding-bottom: 275px;
}

#u8814popup
{
	z-index: 21;
}

#u8914
{
	z-index: 22;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8914_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u8964
{
	z-index: 24;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u8914.SSSlideLinkSelected,#u8964.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin: 0px -10000px 0px 0px;
}

#u8964_img
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u8944
{
	z-index: 26;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u8944.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin: 55px -10000px 0px 0px;
}

#u8805
{
	position: absolute;
	width: 760px;
	height: 300px;
	background-color: transparent;
	left: 1px;
}

#u8805popup
{
	z-index: 28;
}

#u8910
{
	z-index: 29;
	width: 760px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u8910_clip
{
	overflow: hidden;
	width: 760px;
	height: 300px;
}

#u8910_img
{
	margin-top: -23px;
	margin-right: -1px;
	margin-bottom: -183px;
}

#u8967
{
	z-index: 31;
	width: 760px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u8940
{
	z-index: 33;
	width: 760px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u9400
{
	z-index: 19;
	width: 25px;
	min-height: 25px;
	left: -84px;
	top: -361px;
	margin-bottom: -25px;
}

#pu3466-12
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: -30px;
}

#u3466-12
{
	z-index: 35;
	width: 305px;
	min-height: 312px;
	background-color: transparent;
	text-align: justify;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3466-3
{
	font-size: 16px;
	line-height: 19px;
	color: #220639;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u3466-5,#u3466-6,#u3466-8,#u3466-9,#u3466-10
{
	font-size: 16px;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u5526-9
{
	z-index: 47;
	width: 305px;
	min-height: 312px;
	background-color: transparent;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u3466-2,#u5526,#u5526-2
{
	font-size: 20px;
	line-height: 24px;
	color: #220639;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u5526-4,#u5526-5,#u5526-7
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pu742
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: 198px;
}

#u742,#u742-bw
{
	z-index: 2;
	height: 210px;
}

#u998-16
{
	z-index: 3;
	width: 199px;
	min-height: 95px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 800px;
	padding-bottom: 210px;
}

#page .verticalspacer
{
	clear: both;
}

