.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u3515-3,#u3515-5,#u3515-7,#u3515-8,#u3515-10,#u6120-2,#u6120-4,#u6120-5,#u6120-7
{
	font-family: lato-i3, sans-serif;
}

#u3515-2,#u6120,#u6121-5
{
	font-family: lato-i4, sans-serif;
}

