.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u5533-2,#u5533-5,#u5533-9,#u5533-10,#u5533-12,#u5533-13,#u5533-15,#u5533-16,#u5533-18,#u5537,#u3490-2
{
	font-family: lato-i4, sans-serif;
}

#u5533-3,#u5533-6,#u5533-7,#u5533-19,#u5533-20,#u5533-24,#u5537-2,#u5537-4,#u5537-5,#u5537-7,#u3490-3,#u3490-5,#u3490-6,#u3490-8,#u3490-9,#u3490-10,#u3490-11,#u3490-12,#u3490-13,#u3490-14
{
	font-family: lato-i3, sans-serif;
}

