.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u3477-2,#u3477-3,#u5530,#u5530-2
{
	font-family: lato-i4, sans-serif;
}

#u3477-5,#u3477-6,#u3477-8,#u3477-9,#u3477-11,#u3477-12,#u3477-14,#u5530-4,#u5530-5,#u5530-7,#u5530-8,#u5530-10
{
	font-family: lato-i3, sans-serif;
}

