.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u11545-4
{
	font-family: lato-i3, sans-serif;
}

#u11546-4
{
	font-family: lato-i3, sans-serif;
}

#u11541-4
{
	font-family: lato-i3, sans-serif;
}

#u11542-4
{
	font-family: lato-i3, sans-serif;
}

#u11537-4
{
	font-family: lato-i3, sans-serif;
}

#u11535-4
{
	font-family: lato-i3, sans-serif;
}

#u11552-4
{
	font-family: lato-i3, sans-serif;
}

#u11553-4
{
	font-family: lato-i3, sans-serif;
}

#widgetu11544_input,#widgetu11544_prompt,#widgetu11539_input,#widgetu11539_prompt,#widgetu11534_input,#widgetu11534_prompt,#widgetu11550_input,#widgetu11550_prompt
{
	font-family: lato, sans-serif;
}

#u716-16
{
	font-family: lato-n3, sans-serif;
}

