#u3256-3
{
	border-color: #000000;
	background-color: #220639;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
}

#u786
{
	background-color: transparent;
	position: fixed;
}

#menuu3257
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u3261
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3264-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 17px;
	position: relative;
}

#u3261:hover #u3264-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3338
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3341-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 17px;
	position: relative;
}

#u3261.MuseMenuActive #u3264-4,#u3338:hover #u3341-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3339
{
	position: relative;
	background: transparent url("../images/expand.png") no-repeat center center;
	background-size: cover;
}

#u3338:hover #u3339
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#u3338.MuseMenuActive #u3339
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#u3315
{
	background-color: transparent;
}

#u3316
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
}

#u3325
{
	border-style: none;
	border-color: transparent;
	background-color: #220639;
	position: relative;
}

#u3328-4
{
	background-color: transparent;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	line-height: 17px;
	position: relative;
}

#u3338.MuseMenuActive #u3341-4,#u3325:hover #u3328-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3325:active #u3328-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3273
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3275-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 17px;
	position: relative;
}

#u3325.MuseMenuActive #u3328-4,#u3273:hover #u3275-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u9050
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9053-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 17px;
	position: relative;
}

#u3273.MuseMenuActive #u3275-4,#u9050:hover #u9053-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3268
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3271-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 17px;
	position: relative;
}

#u9050.MuseMenuActive #u9053-4,#u3268:hover #u3271-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3268.MuseMenuActive #u3271-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u9400
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3458
{
	background-color: transparent;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-webkit-transform: matrix(-1,0,0,-1,130,28);
	-ms-transform: matrix(-1,0,0,-1,130,28);
	-o-transform: matrix(-1,0,0,-1,130,28);
	transform: matrix(-1,0,0,-1,130,28);
	position: fixed;
}

#u742
{
	border-style: none;
	border-color: transparent;
	background-color: #CC6600;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
}

#u3258,#u3314,#u3324,#u3272,#u9049,#u3265,#u998-16
{
	background-color: transparent;
	position: relative;
}

#u998-2
{
	padding-left: 15px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u998
{
	font-size: 14px;
	line-height: 17px;
}

#u998-4
{
	padding-left: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u998-6
{
	padding-left: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u998-8
{
	padding-left: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u998-10
{
	padding-left: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u998-12
{
	padding-left: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u998-14
{
	line-height: 14px;
	padding-left: 15px;
}

