.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u9406-4,#u9320-2,#u9322-2,#u9322-4,#u9323-2,#u9324-2,#u9328-2,#u9327-2,#u9326-2,#u9325-2,#u9331-2,#u9330-2,#u9330-4,#u9329-2
{
	font-family: lato-i4, sans-serif;
}

#u9062-11,#u9249-6,#u9320-4,#u9320-6,#u9322-6,#u9323-4,#u9323-6,#u9324-4,#u9324-6,#u9328-4,#u9328-6,#u9327-4,#u9327-6,#u9326-4,#u9326-6,#u9325-4,#u9325-6,#u9331-4,#u9331-6,#u9330-6,#u9330-8,#u9329-4,#u9329-6,#u9063-6,#u9347-4,#u9333-18
{
	font-family: lato-i3, sans-serif;
}

