.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u2857-4
{
	font-family: lato-i3, sans-serif;
}

