.menu,.submenu
{
	font-family: lato-n4, sans-serif;
}

.signin,.title
{
	font-family: lato-i4, sans-serif;
}

.contact-footer,.info-footer,.pannello-laterale_sottititolo,.pannello-laterale_portfolio
{
	font-family: lato-n3, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

.text,.LATMENU_pub,.LATMENU_other-info,.carousel_word
{
	font-family: lato-i3, sans-serif;
}

#u998-4,#u998-6,#u998-8,#u998-10,#u998-12
{
	font-family: lato-n3, sans-serif;
}

#u1399-7
{
	font-family: sofia-n4, fantasy;
}

#u1383-2,#u1383-4,#u1392-2,#u1392-4,#u1392-6,#u1399-2,#u1399-4,#u1399-6,#u945-6
{
	font-family: lato-i3, sans-serif;
}

#u1383-5,#u1383-7,#u1383-9,#u1383-11,#u1392-7,#u1392-9,#u1399-9,#u1399-11,#u207-4,#u991-4,#u992-4
{
	font-family: lato-i4, sans-serif;
}

